<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>2048</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="center">
        <h1>
            2048
        </h1>
        <h3 id="score">
            Score: 0
        </h3>
    </div>
    <div class="center">
        <div id="matrix-container">
            <div class="row">
                {% for line in matrix %}
                    <div class="col">
                        {% for case in line %}
                            <div class="block">{{ case }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="center">
        <button onclick="resetMatrix()">Reset</button>
    </div>
    <div class="form">
        <div class="form">
          <label for="size">Grid size: </label>
          <input id="number" type="number" value="4" />
        </div>
        <label for="pet-select">Choose a model:</label>
        <select name="model" id="model-select">
            <option value="">--Please choose a model--</option>
            <option value="human">Play myself</option>
            <option value="random">Random</option>
        </select>
        <button onclick="updateRules()">Update</button>
    </div>
</body>
{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    updateDisplay({{ matrix }}, 0);

    function moveMatrix(direction) {
        $.ajax({
            url: '/update/',  // Make sure this matches your urls.py
            type: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            data: {
                'direction': direction
            },
            success: function(response) {
                updateDisplay(response.matrix, response.score);
            }
        });
    }

    function resetMatrix() {
        $.ajax({
            url: '/reset/',  // Make sure this matches your urls.py
            type: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            success: function(response) {
                updateDisplay(response.matrix, response.score);
            }
        });
    }

    function updateDisplay(matrix, score) {
        let html = '';
        html += '<div class="row">';
        matrix.forEach(line => {
            html += '<div class="col">';
                line.forEach(cell => {
                    if (cell < 2) {
                        html += '<div class="block block"></div>';
                    } else {
                        html += '<div class="block block' + cell + '">' + cell + '</div>';
                    }
                });
            html += '</div>';
        });
        html += '</div>';
        $('#matrix-container').html(html);
        $('#score').html("Score " + score);
    }

    // Optional: Add keyboard controls
    document.addEventListener('keydown', function(event) {
        switch(event.key) {
            case 'ArrowUp':
                moveMatrix('up');
                break;
            case 'ArrowDown':
                moveMatrix('down');
                break;
            case 'ArrowLeft':
                moveMatrix('left');
                break;
            case 'ArrowRight':
                moveMatrix('right');
                break;
        }
    });
</script>
</html>