:root {
    user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
}



body {
    background: #faf8ef;
    color: #776e65;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    max-width: 480px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

/* body {
    min-height: 100vh;
    max-width: 480px;
    margin: 0 auto;
    background-color: #05051a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  } */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  


input[type="range"] {
    -webkit-appearance: none;
    background-color: rgb(187,173,160); /* Correct */
    position: absolute;
    top: 50%;
    left: 5%;
    margin: 0;
    padding: 0;
    width: 20rem;
    height: 3.5rem;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-radius: 1rem;
    overflow: hidden;
    cursor: row-resize;
    
    &[step] {
      background-color: transparent;
      background-image: repeating-linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) calc(12.5% - 1px), #05051a 12.5%);
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 0;
      box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);
    }

    &::-moz-range-thumb {
      border: none;
      width: 0;
      box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);
    }
}

button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #bbada0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px  #cdc1b4;
  }
  
  button:active {
    box-shadow: none;
    transform: translateY(5px);
  }
  
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
}

.row {
    display: flex;
    flex-direction: column;

}

.col {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.block {
    background: rgba(238, 228, 218, 0.35);
    margin-right: 15px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.block2 {
    background: #eee4da;
}

.block4 {
    background: #ede0c8;
}

.block8 {
    background: #f2b179;
    color: #f9f6f2;
}

.block16 {
    background: #f59563;
    color: #f9f6f2;
}

.block32 {
    background: #f67c5f;
    color: #f9f6f2;
}

.block64 {
    background: #f65e3b;
    color: #f9f6f2;
}

.block128 {
    background: #edcf72;
    color: #f9f6f2;
}

.block256 {
    background: #edcc61;
    color: #f9f6f2;
}

.block512 {
    background: #EDC850;
    color: #f9f6f2;
}

.block1024 {
    background: #EDC53F;
    color: #f9f6f2;
}

.block2048 {
    background: #EDC22E;
    color: #f9f6f2;
}

.block4096 {
    background: #3C3A32;
    color: #f9f6f2;
}

.block8192 {
    background: #3C3A32;
    color: #f9f6f2;
}

.blockBig {
    background: #3C3A32;
    color: #f9f6f2;
}

#matrix-container {
    background: #bbada0;
    border-radius: 6px;
    padding-top: 15px;
    padding-left: 15px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
    margin: 20px;
    user-select: none;
}