body {
    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: row;
}

.block {
    background-color: rgb(243, 135, 11);
    padding: 30px;
    margin: 5px;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    font-size: 50px;
}

#matrix-container {
    
}
