body {
    background: #faf8ef;
    color: #776e65;
}

button {
    align-items: center;
    background-color: transparent;
    color: #a88615;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
}

button:before {
    background-color: #a88615;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25, .8, .25, 1);
    width: 0;
}

button:hover:before {
    background-color: #a88615;
    width: 3rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
}

.row {
    display: flex;
    flex-direction: column;

}

.col {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.block {
    background: rgba(238, 228, 218, 0.35);
    margin-right: 15px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.block2 {
    background: #eee4da;
}

.block4 {
    background: #ede0c8;
}

.block8 {
    background: #f2b179;
    color: #f9f6f2;
}

.block16 {
    background: #f59563;
    color: #f9f6f2;
}

.block32 {
    background: #f67c5f;
    color: #f9f6f2;
}

.block64 {
    background: #f65e3b;
    color: #f9f6f2;
}

.block128 {
    background: #edcf72;
    color: #f9f6f2;
}

.block256 {
    background: #edcc61;
    color: #f9f6f2;
}

.block512 {
    background: #EDC850;
    color: #f9f6f2;
}

.block1024 {
    background: #EDC53F;
    color: #f9f6f2;
}

.block2048 {
    background: #EDC22E;
    color: #f9f6f2;
}

.block4096 {
    background: #3C3A32;
    color: #f9f6f2;
}

.block8192 {
    background: #3C3A32;
    color: #f9f6f2;
}

.blockBig {
    background: #3C3A32;
    color: #f9f6f2;
}

#matrix-container {
    background: #bbada0;
    border-radius: 6px;
    padding-top: 15px;
    padding-left: 15px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
    margin: 20px;
    user-select: none;
}